.button-sytle{
  background-color:$sky-blue;
  width: 100px;
  display: inline-block;
  padding:$s-size;
  border-color: $sky-blue;
  color: $dark-grey;
  border:none;
  font-size: $font-size-large;
  font-weight: 300
}

.button-sytle__edit{
  @extend .button-sytle ;
  width: 20%;
}

.button-sytle__secondary{
  @extend .button-sytle ;
  width: 20%;
  background-color:$light-red;
  border-color: $light-red;
  margin: 2% 0 0 0;
}