.data_tile{
  /*   display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    display: inline-block;
    vertical-align: top;
    width:20%;
    height: 50%;
    margin: 10px;
    // width: 10rem;
    // height: 10rem; 
  }
  .data_row{
  /*   display: flex;
    justify-content: space-between */
    width: 100%;
    padding: 0 10rem 0
  }
  .dashboard_content-container{
    margin: 0 auto 2%;
    padding:0 $s-size;
    max-width: 90rem; 
  }
.chart-container{
  margin: 0 5px 0;
  font-size: 12px;
  
  @media (max-width: $desktop-breakpoint){
    margin: 0,
  }
  
}