.widget{
  background: $light-blue;
  margin-bottom: $xl-size
}

.widget-message{
  color: $off-white;
  margin: 0rem;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%)
}

.widget-header{
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}
.widget-header-title{
  margin: 0rem;
}