//colour
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue:#464b5e;
// $off-white:#a5afd7;
$purple: #8357c5;
$dark-grey:#333;
$sky-blue:#add8e6;
$light-red: #ffcccb;
$off-white:#f7f7ff;
$grey: #666;
$purple-blue: #3F51B5;
$light-yellow: #FFFACD;

//size
$s-size:10px;
$m-size:22px;
$l-size:47px;
$xl-size:52px;
$desktop-breakpoint: 900px;
$font-size-large:15px;
$font-size-small:14px;